body  {
    margin: 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

article {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.big-left {
    grid-column: 1/3;
    grid-row: 1/3;
}

.big-right {
    grid-column: 2/4;
    grid-row: 1/3;
}

@media (max-width: 900px) {
    article {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .big-left {
        grid-column: 1/3;
        grid-row: 1;
    }
    
    .big-right {
        grid-column: 1/3;
        grid-row: 1;
    }
}

@media (max-width: 480px) {
    article {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .big-left {
        grid-column: 1;
        grid-row: 1;
    }
    
    .big-right {
        grid-column: 1;
        grid-row: 1;
    }
}
  